:root {
--white: whitesmoke;
--bisque: bisque;
--ltblue: lightblue;
--dkblue: rgb(29, 97, 120);
--dkgrey: rgb(59, 59, 59);
}

* {
  padding: 0;
  margin: 0;
  font-family:Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: 1.2rem;
  background-color: var(--bisque);
  color: var(--dkgrey);
}

header {
  background-color: lightblue;
  padding: 1% 2% 2.5% 0%;
  flex: 1;
}

h1 {
  font-size: 2.6rem;
  color: var(--white);
  text-align: right;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1rem;
}

header ul {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-between;
  font-size: 1.1rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 2%;
  flex: 1;
}

footer {
  margin-top: 3%;
  padding-bottom: 3%;
}

/* classes */

.space-under {
  margin: 0 0 1rem 0;
}

.container {
  display: flex;
}

.left-container {
  flex: 0 0 20%;
}


.hero-container {
  position:  relative;
  background: url("../images/ATX skyline.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.text-block-hero {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: var(--dkblue);
  color: var(--white);
  padding: 0.4rem;
}

.header-name {
  font-size: 20px;
  float: left;
  width: 350px;
  background-color: rgb(29, 97, 120);
  padding: .5% 2% .5% 0;
}

.intro {
  display: block;
  margin: 1.5% 1.5% 1.5% 2.5%;
}

.project-main {
  display: flex;
  justify-content: center;

}

.project-main-card {
  flex: 0 1 95.5%;
  border-style: solid;
  border-width: 0.3rem;
  border-color: var(--dkblue);
  margin: 1.5%;
  position: relative;
  background: url("../images/ATX skyline.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px; 
}

.main-card-txtblock {
  position: absolute;
  bottom: 20px;
  left: 0px;
  background-color: var(--dkblue);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.project-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  flex: 0 1 46%;
  border-style: solid;
  border-width: 0.3rem;
  border-color: var(--dkblue);
  margin: 1.5%;
  position: relative;
}

.project-card-txtblock {
  position: absolute;
  bottom: 20px;
  left: 0px;
  background-color: var(--dkblue);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}


.picture-card {
  width: 100%;
  height: 100%;
}

.mypic {
  display: block;
  width: 90%;
  height: 17rem;
  border-style: solid;
  border-color: var(--dkblue);
  border-width: 0.3rem;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  flex: 80%;
  flex-wrap: wrap;
}


.text-underline {
  text-decoration: underline;
}

.text-right {
  text-align: right;
  margin-right: 4%;
}

.highlight {
  background-color: var(--ltblue);
}

.highlight img:hover {
  opacity: .5;
}