:root {
  --white: whitesmoke;
  --bisque: rgb(250, 212, 166);
  --ltblue: lightblue;
  --dkblue: rgb(29, 97, 120);
  --dkgrey: rgb(59, 59, 59);
}

a:link {
  color: var(--dkgrey);
}

a:visited {
  color: var(--dkgrey)
}

a:hover {
  color: var(--dkblue);
}

* {
  padding: 0;
  margin: 0;
  font-family: Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: 1.2rem;
  background-color: var(--bisque);
  color: var(--dkgrey);
  display: flex;
  flex-direction: column;
}

header {
  background-color: lightblue;
  padding: 1% 2% 1% 0%;
  flex: 1;
}

h1 {
  font-size: 2.6rem;
  color: var(--white);
  text-align: right;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1rem;
}

header ul {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-evenly;
  font-size: 1.1rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 2%;
  flex: 1;
}

img {
  width: 100%;
  height: 100%;
}

footer {
  margin-top: 3%;
  padding-bottom: 3%;
  font-size: 1rem;
}

/* classes */

.profilepic {
  padding-right: 2.5%;
  width: auto;
  height: auto;
  margin: auto;
  display: block;
}

.profilepic img {
  border-radius: 30%;
  height: 200px;
  width: 200px;
}

.container {
  display: flex;
  flex: 0 0 80%;
  /* max-width: 1280px; */
}

.left-container {
  flex: 0 0 20%;
  margin: 1.5% 0;
  border-right-style: solid;
  border-width: 3px;
}

.hero-container {
  position: relative;
  background: url("../images/ATX skyline.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}

.text-block-hero {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: var(--dkblue);
  color: var(--white);
  padding: 0.4rem;
}

.header-name {
  float: left;
  width: 350px;
  background-color: rgb(29, 97, 120);
  padding: .5% 2% .5% 0;
}

.intro {
  display: flex;
  margin: 1.5% 1.5% 1.5% 2%;
  flex: 0 1 80%;
}

.project-main-card {
  display: flex;
  flex: 0 1 96%;
  position: block;
  border-style: solid;
  border-width: 0.3rem;
  border-color: var(--dkblue);
  margin: 1.5%;
  height: 250px;
  width: 97%;
  position: relative;
}

.stretch-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.main-card-txtblock {
  position: absolute;
  bottom: 10px;
  left: 0px;
  background-color: var(--dkblue);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.project-small-cards {
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
}

.card {
  flex: 0 1 47%;
  border-style: solid;
  border-width: 0.3rem;
  border-color: var(--dkblue);
  margin: 1.5%;
  position: relative;
  height: 150px;
}

.project-card-txtblock {
  position: absolute;
  bottom: 10px;
  left: 0px;
  background-color: var(--dkblue);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.footer {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex: 0 1 80%;
  margin: 2% 0;
}

.center {
  margin: 1% 0.7%;
  width: 100%;
}

.text-underline {
  text-decoration: underline;
}

.text-right {
  text-align: right;
  margin-right: 4%;
  font-size: 2rem;
}

.highlight {
  background-color: var(--ltblue);
}

.highlight img:hover {
  opacity: .5;
}

/* media queries */
/* for mobile phones */
@media screen and (min-width: 374px) {

  header ul {
    width: 98%;
  }

  nav ul li {
    font-size: .8rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: .9rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  .intro {
    flex-direction: column;
  }

  .header-name {
    width: 35%;
  }

  .intro article h4 {
    font-size: .9rem;
  }

  .footer h4 {
    font-size: .8rem;
  }

  /* .large {
    display: block;
  }

  .small {
    display: none;
  } */

  .container {
    flex-direction: column;
  }

  .left-container div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .text-right {
    text-align: center;
    font-size: 1.8rem;
  }

  .project-main-card {
    height: 175px;
  }

  .project-small-cards {
    display: block;
  }
}

/* for smaller tablets and large phones */
@media screen and (min-width: 481px) {
  header ul {
    width: 100%;
  }

  nav ul li {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: .9rem;
  }

  .intro {
    flex-direction: column;
  }

  .header-name {
    width: 35%;
  }

  .intro article h4 {
    font-size: 1rem;
  }

  .footer h4 {
    font-size: 1.2rem;
  }

  .large {
    display: block;
  }

  .small {
    display: none;
  }

  .container {
    flex-direction: column;
  }

  .left-container div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .text-right {
    text-align: center;
    font-size: 1.8rem;
  }

  .project-main-card {
    height: 200px;
  }

}

/* for larger tablets and desktops */
@media screen and (min-width: 768px) {
  header ul {
    width: 85%;
  }

  nav ul li {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 2.3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .header-name {
    width: 350px;
  }

  .intro {
    flex-direction: row;
  }

  .intro article h4 {
    font-size: 1.1rem;
  }

  .footer h4 {
    font-size: 1.2rem;
  }

  .container {
    flex-direction: row;
  }

  .left-container div {
    display: block;
  }

  .text-right {
    text-align: right;
  }

  .project-main-card {
    height: 225px;
  }

  /* .project-small-cards {
    display: flex;
  } */
}

/* for desktops */
@media screen and (min-width: 1095px) {
  header ul {
    width: 75%;
  }

  nav ul li {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2.6rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  /* .intro article h4 {
    font-size: 1.1rem;
  } */

  /* .footer h4 {
    font-size: 1.2rem;
  } */

  /* .container {
    flex-direction: row;
  } */

  .project-main-card {
    height: 250px;
  }
}