:root {
--white: whitesmoke;
--bisque: bisque;
--ltblue: lightblue;
--dkblue: rgb(29, 97, 120);
--dkgrey: rgb(59, 59, 59);
}



* {
  padding: 0;
  margin: 0;
  font-family:Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: 20px;
  background-color: var(--bisque);
  color: var(--dkgrey);
}

header {
  background-color: lightblue;
  padding: 1% 2% 1.5% 0%;
}

header h1 {
  color: var(--white);
  text-align: right;
}

header ul {
  display: flex;
  flex-direction: row;
  width: 35%;
  justify-content: space-around;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 2%;
}

main {
  width: 75%;
  float: right;
}

aside {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.hero {
  height: 13rem;
  width: 100%;
  flex: 1;
}

.header-name {
  font-size: 20px;
  float: left;
  box-sizing: border-box;
  width: 350px;
  background-color: rgb(29, 97, 120);
  padding: .5% 2% .5% 0;
}

.intro {
  display: flex;
  margin: 1.5% 1.5% 1.5% 2.5%;
}

.content {
  width: 75%;
}

.project-main {
  display: flex;
  justify-content: center;

}

.project-main-card {
  flex: 0 1 95.5%;
  border-style: solid;
  border-width: 0.3rem;
  border-color: var(--dkblue);
  margin: 1.5%;

}

.project-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  flex: 0 1 46%;
  border-style: solid;
  border-width: 0.3rem;
  border-color: var(--dkblue);
  margin: 1.5%;
}
.picture-main {
  width: 100%;
}

.picture-card {
  width: 100%;
}

.aside {
  width: 25%;
  height: 100%;
  float: left;
  background-color: var(--ltblue);
}

.mypic {
  display: inline;
  width: 90%;
  height: 17rem;
  padding-left: 10%;
  
}
.text-underline {
  text-decoration: underline;
}

.text-right {
  text-align: right;
  margin-right: 4%;
}